---
import Section from '@layouts/ui/Section.astro'
import { work as workBr } from '@cv'
import { work as workEn } from '@cv-en'
import { getLocaleFromUrl } from '@/src/utils/i18n'

const currentLocale = getLocaleFromUrl(Astro.url.pathname)
const work = currentLocale === 'en' ? workEn : workBr
const title = currentLocale === 'en' ? 'Experience' : 'Experiências'
---

<Section title={title}>
  <ul>
    {
      work.map(({ name, startDate, endDate, position, summary }) => {
        // Translation for date formatting
        const startYears = new Date(startDate).toLocaleDateString(
          currentLocale === 'en' ? 'en-US' : 'pt-BR',
          {
            year: 'numeric',
            month: 'long',
          },
        )
        const endYears = endDate
          ? new Date(endDate).toLocaleDateString(
              currentLocale === 'en' ? 'en-US' : 'pt-BR',
              {
                year: 'numeric',
                month: 'long',
              },
            )
          : currentLocale === 'en'
            ? 'Present'
            : 'Presente'

        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{name}</h3>
                  <h4>{position}</h4>
                </div>
                <time>{`${startYears} - ${endYears}`}</time>
              </header>
              <footer>
                <p>{summary}</p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
  }

  article a {
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    font-size: 0.85rem;
    min-width: 102px;
    cursor: default;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
