---
import Section from '@layouts/ui/Section.astro'

import { work } from '@cv'
---

<Section title='Experiências'>
  <ul>
    {
      work.map(({ name, startDate, endDate, position, summary }) => {
        const startYears = new Date(startDate).toLocaleDateString('pt-BR', {
          year: 'numeric',
          month: 'long',
        })
        const endYears = endDate
          ? new Date(endDate).toLocaleDateString('pt-BR', {
              year: 'numeric',
              month: 'long',
            })
          : 'Presente'

        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{name}</h3>
                  <h4>{position}</h4>
                </div>
                <time>{`${startYears} - ${endYears}`}</time>
              </header>
              <footer>
                <p>{summary}</p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
  }

  article a {
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    font-size: 0.85rem;
    min-width: 102px;
    cursor: default;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
