---
import NavBar from '@components/NavBar.astro'

interface Props {
  title: string
  description?: string
  image?: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const language = Astro.currentLocale === 'en' ? 'en' : 'pt-br'

const {
  title,
  description = 'Marcy - Mini Portfolio',
  image = '/marcy-miniportfolio-vercel-app.png',
} = Astro.props
---

<!doctype html>
<html lang={language}>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <link rel='canonical' href={canonicalURL} />
    <meta property='og:type' content='website' />
    <meta property='og:url' content={Astro.url} />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={new URL(image, Astro.url)} />

    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content={Astro.url} />
    <meta property='twitter:title' content={title} />
    <meta property='twitter:description' content={description} />
    <meta property='twitter:image' content={new URL(image, Astro.url)} />
    <title>{title}</title>
  </head>
  <body>
    <NavBar />
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      'Courier New',
      monospace;
    background: #dadada;
    color: #26386e;
    letter-spacing: -0.025rem;
  }

  body,
  figure {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
  }

  p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0;
    text-wrap: pretty;
  }

  .print {
    display: none !important;
  }

  @media print {
    .no-print {
      display: none !important;
    }

    .print {
      display: block !important;
      background-color: #fff !important;
    }

    astro-dev-toolbar {
      display: none !important;
    }

    article {
      break-inside: avoid;
    }
  }

  html.dark {
    background-color: #483352;
    color: #fff;
  }

  .dark .nav-links a {
    color: #fff;
  }
  .dark .projects {
    background: #2b1f31;
    border-radius: 10px;
    border: 1px solid #fff;
  }

  .dark .skill {
    background: #2b1f31;
  }

  .dark footer a {
    color: #fff !important;
    border: 1px solid #fff !important;
  }

  .dark .toggleBtn {
    color: #fff !important;
    border: 1px solid #fff !important;
  }

  .dark .no-print {
    color: #fff !important;
  }

  .dark .print section {
    display: hidden !important;
  }

  .dark #normal-footer {
    background: #2b1f31d0;
  }

  .dark #hotkeypad [data-container] {
    background: #2b1f31f9;
  }

  .dark #hotkeypad [data-hotkey][data-active] {
    background-color: #483352;
  }

  .dark #hotkeypad [data-hotkey] p {
    color: #fff;
  }

  .dark #hotkeypad [data-container] header input {
    color: #fff;
    background-color: #2b1f31d0;
  }

  .dark #hotkeypad [data-container] header ::placeholder {
    color: #fff;
  }

  .dark #hotkeypad [data-container] footer p {
    color: #fff;
  }

  .dark #hotkeypad [data-container] footer kbd {
    color: #000;
  }

  .dark #hotkeypad [data-active] div span {
    color: #000;
  }

  .dark #hotkeypad [data-hotkey] span svg {
    color: #fff;
  }

  .dark kbd {
    color: #000;
    background: #fff;
  }

  .dark .no-print a:hover {
    color: #efd9fc !important;
    background: #483352 !important;
    border: 1px solid #dea1ff !important;
  }

  .dark article a {
    color: #fff !important;
  }

  .dark .btn a {
    border: 1px solid #ddd !important;
  }

  .dark .btn a:hover {
    color: #efd9fc !important;
    background: #483352 !important;
    border: 1px solid #dea1ff !important;
  }
</style>
